<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20987748914-i7coo8s15cas4gb4vvj3p3uia08hb1g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20987748914-i7coo8s15cas4gb4vvj3p3uia08hb1g2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>20987748914-8acnkqu741743j7gs1iack7r9jrq46al.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDru6UnXB-D3_x0MtGUTAvkaQlu-rwen9s</string>
	<key>GCM_SENDER_ID</key>
	<string>20987748914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motheringshop</string>
	<key>PROJECT_ID</key>
	<string>mothering-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>mothering-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20987748914:ios:400c4b3c39d1961d08122b</string>
</dict>
</plist>